/vendor
/node_modules
/.env
/database/database.sqlite
composer.phar
/.env.backup
/.phpunit.cache
/storage/*.key
/storage/app/public/media
/storage/logs/*.log
/public/storage
/public/hot
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
